<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>

<header class="mobile">
    <h1>SANO</h1>
</header>

<div class="container">
    <% include partials/header.ejs %>

    <div id="dispatch">
        <div id="dispatch-code-container">
            <p>
                Your safe code is:
            </p>
            <span id="dispatch-code"></span>
            <p>
                Please check for this code when starting a chat with a responder.
            </p>
        </div>


        <div id="dispatch-status"></div>
        <div id="dispatch-progress">
            <div class="bar"></div>
        </div>
        <div id="dispatch-available">
            <div class="dot-status"></div>
            <span class="content">Please wait...</span>
        </div>

        <a href="#" id="dispatch-button" style="display: none">
            Go
        </a>
    </div>

    <div id="chat" style="display: none;">
        <h2>Chat</h2>
        <ul>
            <li class="server">Some generic info and <a href="#">a link</a></li>
            <li class="remote">Blegh</li>
            <li class="remote">Blegh</li>
            <li class="remote">Blegh</li>
            <li class="remote">Blegh</li>
            <li class="remote">Blegh</li>
            <li class="remote">Blegh</li>
            <li class="remote">Blegh</li>
            <li class="remote">Blegh</li>

        </ul>
    </div>
</div>

<script type="text/javascript" src="assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="assets/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="assets/js/request.js"></script>
</body>
</html>