<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>

<header class="mobile">
    <h1>SANO</h1>
</header>

<div class="container">
    <% include partials/header.ejs %>
    <% if (typeof(id) !== 'undefined') {%>

    <script type="text/javascript">
        var respondingId = "<%=id%>";
    </script>

    <% } %>

    <div id="dispatch">
        <div id="dispatch-code-container">
            <p>
                Your safe code is:
            </p>
            <span id="dispatch-code"></span>
            <p>
                Please check for this code when starting a chat with a responder.
            </p>
        </div>


        <div id="dispatch-status"></div>
        <div id="dispatch-progress">
            <div class="bar"></div>
        </div>
        <div id="dispatch-available">
            <div class="dot-status"></div>
            <span class="content">Please wait...</span>
        </div>

        <a href="#" id="dispatch-button" style="display: none">
            Go
        </a>
    </div>

    <div id="chat" style="display: none;">
        <h2>Chat</h2>
        <ul>

        </ul>
    </div>

    <input style="display: none" id="chat-input-mobile" type="text" placeholder="Enter a message"/>

</div>

<script type="text/javascript" src="/assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/assets/js/request.js"></script>
</body>
</html>