<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>

<header class="mobile">
    <h1>SANO</h1>
</header>

<div class="container">
    <% include partials/header.ejs %>


    <div id="dispatch-code-container">
        <p>
            Your safe code is:
        </p>
    <span id="dispatch-code">dog-waffle</span>
        <p>
            Please check for this code when starting a chat with a responder.
        </p>
    </div>


    <span id="dispatch-status"></span>
    <span id="dispatch-progress">
        <span class="bar"></span>
    </span>
    <span id="dispatch-available">
        <span class="dot-status"></span>
        <span class="content">Please wait...</span>
    </span>
    <a href="#" id="dispatch-button">
        TEST
    </a>


</div>

<script type="text/javascript" src="assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="assets/js/jquery-ui.min.js"></script>
<!--<script type="text/javascript" src="assetschat.jst.js"></script>-->
</body>
</html>