<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>

<header class="mobile">
    <h1>SANO</h1>
</header>

<div class="container">
    <% include partials/header.ejs %>

    <span id="dispatch-status">Dispatch status</span>
    <span id="dispatch-button" class="clickable">
        <span class="bar"></span>
    </span>
    <span id="dispatch-available">
        <span class="dot-status"></span>Querying...
    </span>
</div>

<script type="text/javascript" src="assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="assets/js/jquery-ui.min.js"></script>
<!--<script type="text/javascript" src="assetschat.jst.js"></script>-->
</body>
</html>