<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>

<header class="mobile">
    <h1>SANO</h1>
</header>

<div class="container">
    <header>
        <h1>SANO</h1>
        <ul>
            <% if (typeof(links) !== 'undefined') links.forEach(function(item) {%>
            <li><a href="#"><%=item%></a></li>
            <%});%>
        </ul>
    </header>

    <div id="chat">
        <h2>Chat</h2>
        <ul>
            <li class="server">Some generic info and <a href="#">a link</a></li>
            <li class="remote">Blegh</li>
            <li class="remote">Blegh</li>
            <li class="remote">Blegh</li>
            <li class="remote">Blegh</li>
            <li class="remote">Blegh</li>
            <li class="remote">Blegh</li>
            <li class="remote">Blegh</li>
            <li class="remote">Blegh</li>

        </ul>
    </div>
</div>

<input id="chat-input-mobile" type="text" placeholder="Enter a message"/>

<script type="text/javascript" src="assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="assets/js/jquery-ui.min.js"></script>
<!--<script type="text/javascript" src="assets/js/script.js"></script>-->
</body>
</html>